/* Header */

header {
    background-color: #fff;
    padding: 15px 0;
    box-shadow: 0 0 29px 0 rgba(2, 0, 116, 0.575);
    position: fixed;
    top: 0;
    transition: 0.4s;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Monofett', cursive;
    font-size: 20px;
}

.nav-header {
    display: flex;
    justify-content: flex-end;
}

.nav-menu {
    display: flex;
    margin: 0;
}

.nav-item {
    margin: 0 10px;
}

.nav-link.selected {
    background-color: rgb(0, 69, 197);
}

.nav-link {
    line-height: 2.5;
    padding: 0 10px;
    border-radius: 100px;
}

.nav-link:hover {
    color: #4d98ddec;
}

.nav-link.selected {
    color: white;
    padding: 0 30px;
}

.btn-abrir-menu {
    display: none;
    font-size: 50px;
    margin: 0 15px;
    cursor: pointer;
}

.btn-abrir-menu:hover {
    color: #4d88e0;
}

.barras {
    font-size: 40px;
    margin-left: 15px;
}


/* header.sticky {
    position: fixed;
  } */

header.collapsed {
    padding: 15px 20px;
}

.sidebar-menu {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 300px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    padding: 30px 0 0 20px;
    background-color: #fff;
    box-shadow: -10px 0 20px rgba(28, 0, 105, 0.562);
    transform: translateX(100%);
    transition: 0.2s;
}

.sidebar-menu.visible {
    transform: translateX(0%);
}

.btn-cerrar-menu {
    position: absolute;
    right: 20px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.sidebar-título {
    font-size: 4rem;
    margin-left: 20px;
}

.sidebar-menu .nav-menu {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1100px) {
    header {
        /* padding: 25px 20px; */
        display: none;
    }
}

@media (max-width: 650px) {
    .nav-header {
        display: none;
    }
    .menu-icon-container {
        display: flex;
        justify-content: flex-end;
    }
    .btn-abrir-menu {
        display: flex;
        align-items: center;
    }
}