/* HOLA */

.contenido-princ {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.saludo {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 700;
    font-family: 'Source Serif 4', sans-serif;
}

.hola-nombre {
    margin-top: 0;
    margin-bottom: 5px;
    color: #2d1e80;
    font-size: 30px;
    font-family: 'Bungee Shade', cursive;
}

.hola-descripción {
    color: #1b2a80e7;
    font-size: 10x;
    margin-bottom: 40px;
}

.hola-sección {
    min-height: calc(100vh - 90px);
    margin-top: 90px;
}

.hola-info {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.hola-img {
    max-width: 900px;
}

.button {
    background-color: #0c339c;
    color: white;
    padding: 15px 40px;
    border-radius: 100px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1100px) {
    .contenido-princ {
        flex-direction: column;
    }
    .hola-info {
        align-items: center;
        text-align: center;
    }
    .hola-img {
        margin-top: 30px;
    }
}