/* Projects */

.proyecto-filtros {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.proyecto-filtro {
    line-height: 2.5;
    margin: 0.5em 5px;
    padding: 0 20px;
    border-radius: 100px;
}

.proyecto-filtro:not(.selected):hover {
    color: #260457;
}

.proyectos {
    width: 100%;
}

.proyecto {
    width: calc(100% / 3 - (0.75em * 2));
    margin: 0.75em;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    overflow: hidden;
}

.proyecto:hover {
    border: 1px solid #151e99;
    color: #1a2dda;
}

.proyecto.hidden {
    display: none;
}

.proyecto-nombre {
    font-weight: 600;
    margin-top: 20px;
}

.proyecto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 900px) {
    .proyecto-filtros {
        flex-wrap: wrap;
    }
    .proyecto {
        width: calc(100% / 2 - (0.75em * 2));
        margin: 0.75em;
    }
}

@media (max-width: 550px) {
    .proyecto-filtros {
        flex-wrap: wrap;
    }
    .proyecto-filtro {
        margin: 0.5em 0;
        font-size: 0.8em;
        line-height: 2.2;
        padding: 0 20px;
    }
    .proyecto {
        width: 100%;
        margin: 0;
        margin-bottom: 1.25em;
    }
}